{{#>body}}

{{#with pricing}}
<div class="container">
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">{{header}}</h1>
		<p class="lead">{{tagline}}</p>
	</div>
</div>
{{/with}}

<div class="container">
	<div class="card-deck mb-3 text-center">
		{{#each pricing.versions}}
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{header}}</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">{{value}} <small class="text-muted">/ mo</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>{{tagline}}</li>
					<li>{{billing}}</li>
					<li>Email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
			</div>
		</div>
		{{/each}}
	</div>
</div>

{{/body}}